MONGODB_URI=mongodb://localhost:27017/maya-ai

# Security (AES-256-GCM)
MAYA_ENCRYPTION_KEY=please_add_your_encription_key_here

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth.js (NextAuth v5)
AUTH_SECRET=change_me_to_yours
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# Environment 
NODE_ENV=development

